/* Responsividade */
@media (max-width: 768px) {
  body {
      background-image: linear-gradient(rgba(211, 200, 228, 0.7), rgba(218, 197, 250, 0.7)), url('../src/flores.png');
      background-size: cover;
      background-position: center;
      background-attachment: scroll;  /* No celular, a imagem vai rolar junto com o conteúdo */
  }
}

/*@media (max-width: 500px) {
    #lista-de-compras {
      width: 70%;
      padding: 20px;
    }
  
    #lista-de-compras h2 {
      font-size: 20px;
    }
  
    #opção {
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px;
    }
  
    #opção span {
      font-size: 12px;
      margin: 5px 0;
      flex: 1 1 70%;
    }
  
    #opção input[type="checkbox"] {
      margin-right: 10px;
    }
  
    #opção button {
      font-size: 13px;
      margin-left: 10px;
    }
  }*/
  
  