/* Responsividade */
@media (max-width: 768px) { 
  body {
      background-image: linear-gradient(rgba(211, 200, 228, 0.7), rgba(218, 197, 250, 0.7)), url('../src/flores.png');
      background-size: cover;
      background-position: center;
      background-attachment: scroll;  /* No celular, a imagem vai rolar junto com o conteúdo */
  }

  #lista-de-compras {
    width: 70%;
    padding: 30px;
  }

  #novo-item {
 width: 5px;
 margin-right: 10%;
  
  }

  #btn-adicionar {
   width: 35%;
   font-size: 12px;
   
  
  }
}

#novo-item::placeholder{
  font-size: 14px;
}






